*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: hsl(0 0 7);
    color: hsl(0 0 100);
    font-size: 1rem;

    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0.5em 2em;

    display: flex;
    align-items: center;
}

h1 {
    padding: 0;
    margin: 0 auto 0 0;
}

.github-link {
    font-weight: 700;
    background: hsl(0 0 30);
    padding: 0.4em 1em;
    border: none;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.github-link a {
    text-decoration: none;
}

.github-link:hover {
    background: hsl(0 0 40);
}

main {
    color: hsl(0 0 75);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    padding: 0.5em 1em 1em;
    border: 3px solid hsl(0 0 70);
}

.game-info {
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 0px;
}

.player-info .name {
    text-align: center;
    margin-top: 0.2em;
    background-color: hsl(0 0 12);
}

.round-info {
    justify-self: right;
    text-align: center;
}

.round-info .round {
    margin-top: 0.2em;
    background: hsl(0 0 12);
}

.game-messages {
    text-align: center;
    padding: 0.1em;
    background: hsl(0 0 12);
    grid-column: 1 / 3;
}

.game-grid-board {
    width: 300px;
    height: 300px;
    margin: 0.5em 0 1em;
    border: 3px solid hsl(0 0 70);
}

.control-btn {
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: hsl(0 0 100);
    padding: 0.5em 1em;
    width: 100%;
    background: hsl(0 0 30);
    border: none;
    border-radius: 10px;
}

.control-btn:hover {
    background: hsl(0 0 40);
}

footer {
    text-align: center;
    padding: 1em;
    background: hsl(0 0 45 / 5%);
}