*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: hsl(0 0 7);
    color: hsl(0 0 100);
    font-size: 1rem;

    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0.5em 2em;

    display: flex;
    align-items: center;
}

h1 {
    padding: 0;
    margin: 0 auto 0 0;
}

.github-link {
    font-weight: 700;
    background: hsl(0 0 30);
    padding: 0.4em 1em;
    border: none;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.github-link a {
    text-decoration: none;
}

.github-link:hover {
    background: hsl(0 0 40);
}