*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
    background: hsl(0 0 7);
    color: hsl(0 0 100);
    font-family: "Sriracha", cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;

    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0.5em 1em;

    display: flex;
    align-items: center;
}

h1 {
    font-weight: 700;
    padding: 0;
    margin: 0 auto 0 0;
}

.github-link {
    font-weight: 700;
    background: hsl(0 0 30);
    padding: 0.4em 1em;
    border: none;

    display: flex;
    align-items: center;
    gap: 10px;
}

.github-link a {
    text-decoration: none;
}

.github-link:hover {
    background: hsl(0 0 40);
}

main {
    font-size: 0.9em;
    color: hsl(0 0 75);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog {
    text-align: center;
    background: hsl(0 0 7);
}

.fieldset-container {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

fieldset {
    font-size: 1.3rem;
    border: 1px solid hsl(0 0 30 / 0.5);
}

legend {
    text-align: center;
}

input {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1em;
    background: transparent;
    border: none;
    border-bottom: 1px solid hsl(0 0 70);
    display: block;
}

input:focus {
    outline: none;
}

form #submit-btn {
    color: hsl(0 0 100);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.2em 2em;
    margin: 0.5em auto;
    background: hsl(0 0 30);
    border: none;
}

#submit-btn:hover {
    background: hsl(0 0 40);
}

.game:not([class~="started"]) {
    display: none;
}

.game {
    padding: 0.5em 1em 1em;
    border: 3px solid hsl(0 0 70);
}

.game-info {
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 0px;
}

.player-info .name {
    text-align: center;
    margin-top: 0.2em;
    background-color: hsl(0 0 12);
}

.round-info {
    justify-self: right;
    text-align: center;
}

.round-info .round {
    margin-top: 0.2em;
    background: hsl(0 0 12);
}

.game-messages {
    text-align: center;
    padding: 0.1em;
    background: hsl(0 0 12);
    grid-column: 1 / 3;
}

.game-grid-board {
    width: 300px;
    height: 300px;
    margin: 0.5em 0 1em;
    border: 3px solid hsl(0 0 70);
}

.control-btn {
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: hsl(0 0 100);
    padding: 0.5em 1em;
    width: 100%;
    background: hsl(0 0 30);
    border: none;
}

.control-btn:hover {
    background: hsl(0 0 40);
}

footer {
    text-align: center;
    padding: 1em;
    background: hsl(0 0 45 / 5%);
}